%h1 New Completed Action
= simple_form_for @user_activity, :method => :post, :url => activity_user_activities_path do |f|
  =f.date_select :completion_date
  =f.hidden_field :activity_id, :value => @activity.id
  = f.button :submit




