%h1 Record Your Activities

.container
  %ul.nav.nav-tabs
    %li.active
      = link_to 'Overall Health', overall_path
    %li
      = link_to 'Fitness', fitness_path
    %li
      = link_to 'Nutrition', nutrition_path
    %li
      = link_to 'All', activities_path
%br
.row
  =@overall_activities.each do |a|
    .col-sm-6.col-md-4
      .thumbnail
        .caption
          %h3=a.title
          %p=a.description
          %p
            -#%a{:href =>edit_activity_path(a), :class=>"btn btn-primary", :role=>"button" } Edit
            -#%a{:href=>"#", :class=>"btn btn-default", :role=>"button"}Delete
            =link_to "Add This Action", {controller: 'user_activities', action: 'create', id: @user.id, activity: a.id }, method: 'post', :class=>"btn btn-default", :role=>"button"

      %br
